.coinpage {
  background-color: #EEF1FF;
  height: 100vh;
}

.container-grid {
  margin-top: 30px;
}

.coin-image {
  margin-bottom: 20px;
  height: 140px;
}

.span {
  display: flex;
}

.font {
  font-family: 'Montserrat';
}